@charset "UTF-8";
@font-face {
 font-family: 'bottled-it';
 src: url("../fontes/bottled-it.otf");
}
	
body {
	font-family: 'Segoe UI', sans-serif;
	font-weight: 100;
	width: 100%;
	height: 100%;
	margin-top: 150px;
	background: url("../imagens/background.png");
	background-size: contain;
	color: rgba(0, 0, 0, 0.6);

		}

div#interface {
	width: 100%;
	background: none;
	margin: auto;

}

div#iniciosite{
	margin-bottom: 10px;
	border-bottom: 5px solid rgba(255, 255, 255, 0.85);
}

p {
	text-align: justify; 
	text-indent: 50px;
}


header#cabecalhoindex {
	height: 995px;
	background-size: 100%;
}


header#cabecalhoindex h1 {
	font-family: 'Segoe UI', sans-serif;
	font-weight: 100;
	font-size: 18pt;
	text-align: left;
	margin-left: 450px;
	color: white;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
	padding: 0px;
	margin-top: -97px;
	margin-bottom: 0px;
}
div.botaocompre {

    font-family: sans-serif;
    background-color: rgb(255, 17, 136);
    font-weight: bold;
    margin-right: 200px;
    margin-top: 850px;
    text-align: center;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #d20d13;
   
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 1;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

div.sabores{
	background: url("../imagens/backgroundfundo.png")  0px 0px;
	padding: 0px;
}

div.sabores h2{
	font-family: 'bottled-it', sans-serif;
	font-size: 200pt;
	color: rgba(255, 255, 255, 0.7);
	text-align: center;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
	margin-top: -10px;
	margin-bottom: 10px;


}



/* Formatação do menu */


nav#menu ul {
	list-style: none;
	position: absolute;
	top: 30px;
	left: 900px;

}

nav#menu li {
	display: inline-table;
	background-color: white;
	padding: 10px;
	margin: 2px;
	transition: background-color 1s;
	border-radius: 30px;
}
nav#menu li:hover {
	background-color: rgba(252, 16, 142, 0.85);
}

nav#menu h1 {
	display: none;
}

nav#menu a {
	color: rgb(94, 93, 93);
	text-decoration: none;
}

nav#menu a:hover {
	color: white;
	
}

