@charset "UTF-8";

/* Formatação das fotos sabores*/

ul#album-fotos{
	width: 700px;
	margin: auto 110px auto auto;
	padding: 10px;
	overflow: hidden;
	list-style: none;
}

ul#album-fotos li{
	float: left;
	width: 300px;
	height: 300px;
	margin: 5px;
	border: 5px solid white;
	background-color: white;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);	
	-webkit-transition: all 0.3s ease-in;
}


ul#album-fotos li span {
	text-align: center;
	opacity: 0;
	color: white;
	text-shadow: 1px 1px 1px #000000;
	background-color: rgba(0, 0, 0, 0.3);
	font-size: 9pt;
	line-height: 370px;
	padding: 5px;
}

ul#album-fotos li:hover {
	-webkit-transform: scale(1.5);
}

ul#album-fotos li:hover span{
	opacity: 1;

}

ul#album-fotos li#uva {
	background: url('../imagens/uva.jpg') no-repeat;
	background-position: 50% 50%; 
	background-size: 400px 400px;
	background-color: white;
}
ul#album-fotos li#uva:hover{
	background-position: 0% 0%;
	background-size: 300px 300px;
}

ul#album-fotos li#maca {
	background: url('../imagens/maca.jpg') no-repeat;
	background-position: 50% 50%; 
	background-size: 400px 400px;
	background-color: white;
}
ul#album-fotos li#maca:hover{
	background-position: 0% 0%;
	background-size: 300px 300px;
}

ul#album-fotos li#pessego{
	background: url('../imagens/pessego.jpg') no-repeat;
	background-position: 50% 50%; 
	background-size: 400px 400px;
	background-color: white;
}
ul#album-fotos li#pessego:hover{
	background-position: 0% 0%;
	background-size: 300px 300px;
}

ul#album-fotos li#gengibre {
	background: url('../imagens/gengibre.jpg') no-repeat;
	background-position: 50% 50%; 
	background-size: 400px 400px;
	background-color: white;
}
ul#album-fotos li#gengibre:hover{
	background-position: 0% 0%;
	background-size: 300px 300px;
}

ul#album-fotos li#morango {
	background: url('../imagens/morango.jpg') no-repeat;
	background-position: 50% 50%; 
	background-size: 400px 400px;
	background-color: white;
}
ul#album-fotos li#morango:hover{
	background-position: 0% 0%;
	background-size: 300px 300px;
}

ul#album-fotos li#morangochocolate {
	background: url('../imagens/morangochocolate.jpg') no-repeat;
	background-position: 50% 50%; 
	background-size: 400px 400px;
	background-color: white;
}
ul#album-fotos li#morangochocolate:hover{
	background-position: 0% 0%;
	background-size: 300px 300px;
}
ul#album-fotos li#morangohortela {
	background: url('../imagens/morangohortela.jpg') no-repeat;
	background-position: 50% 50%; 
	background-size: 400px 400px;
	background-color: white;
}
ul#album-fotos li#morangohortela:hover{
	background-position: 0% 0%;
	background-size: 300px 300px;
}

ul#album-fotos li#hibiscocanela {
	background: url('../imagens/hibiscocanela.jpg') no-repeat;
	background-position: 50% 50%; 
	background-size: 400px 400px;
	background-color: white;
}
ul#album-fotos li#hibiscocanela:hover{
	background-position: 0% 0%;
	background-size: 300px 300px;
}

ul#album-fotos li#abacaxi {
	background: url('../imagens/abacaxi.jpg') no-repeat;
	background-position: 50% 50%; 
	background-size: 400px 400px;
	background-color: white;
}
ul#album-fotos li#abacaxi:hover{
	background-position: 0% 0%;
	background-size: 300px 300px;
}

ul#album-fotos li#tangerina {
	background: url('../imagens/tangerina.jpg') no-repeat;
	background-position: 50% 50%; 
	background-size: 400px 400px;
	background-color: white;
}
ul#album-fotos li#tangerina:hover{
	background-position: 0% 0%;
	background-size: 300px 300px;
}

